

  <div class="container">
    <nav class="navbar navbar-inner" style="margin-top:40px; letter-spacing: 4px; font-size: 18px !important; ">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <% Category.all.each do |category|%>
          <li class="text-align text-center" style="padding-left:40px; padding-right:30px;">
            <%= link_to category.name, products_path(category: category.name), class: "link"%>
          </li>
        <% end %>
      </ul>
      <div class="nav navbar-nav navbar-left">
    <div class="form-group" >
      <%= form_tag search_products_path , :method => :get  do %>
      <div class="input-group" id="search-id" >
        <input type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="请输入产品信息">
        <div class="input-group-btn">
          <button class="btn btn-default " type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <% end %>
    </div>
    </div>
   </div>
  </nav>
</div>
  <hr>

 <div class="container">
  <div class="row text-center">
  <% @products.each do |product| %>
    <div class="col-sm-3">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url,class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <strong><%= product.title %></strong>  ￥ <%= product.price %>
      <br><br>
    </div>
  <% end %>
</div>
</div>
