<div class="row">
  <div class="container">
  <nav class="navbar navbar-inner" style="margin-top:40px; letter-spacing: 4px; font-size: 18px !important; ">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <% Category.all.each do |category|%>
        <li class="text-align text-center" style="padding-left:40px; padding-right:30px;">
          <%= link_to category.name, products_path(category: category.name), class: "link"%>
        </li>
      <% end %>
    </ul>
    <div class="nav navbar-nav navbar-left">
  <div class="form-group" >
    <%= form_tag search_products_path , :method => :get  do %>
    <div class="input-group" id="search-id" >
      <input type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="请输入产品信息">
      <div class="input-group-btn">
        <button class="btn btn-default " type="submit">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <% end %>
  </div>
  </div>
</nav>
</div>
  <br>
  <% if @products.blank? %>
    <br>
    <h2 class="search-info-title">没有与"<%= @query_string %>"相关信息，请输入关键字搜索</h2>
  <% else %>
    <h2 class="search-info-title"> 有关"<%= @query_string %>"的产品信息 </h2>
    <div class="search-result">

      <div class="row products-show0"></div>
      <div class="product-table">
        <% @products.each do |product| %>
        <div class="row products-show">

          <div class="col-md-12 col-lg-9 col-lg-offset-1">

            <div class="pull-right">
              发布时间：<%= product.created_at.to_date %>
            </div>
              <p style="padding-left: 50px;"><%= link_to(render_highlight_content(product,@query_string),product_path(product)) %></p>
          <div class="search-image">
            <%= link_to product_path(product) do %>
              <% if product.photos[0].present? %>
                <%= image_tag(product.photos[0].avatar.thumb.url) %>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
              <% end %>
            <% end %>
          </div>


          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="text-center">
      <%= will_paginate(@products, renderer: BootstrapPagination::Rails) %>
    </div>
  <% end %>
</div>
